//- The view that makes up the footer for each page
footer.footer
  .container
    .row
      .col-xs-12
        p
          | @ 2015 Tincat Group, Inc.
          = ' | '
          |Roeland Park, KS 66205
          = ' | '
          |dwolt@tincat-group.com
          = ' | '
          |Generic Demo Pet SPA v 0.0.1
