//- DemoEdit.jade is a nested view for an edit form. Submitting the form
    either adds a new pet registration or updates an existing one.
    This view shows from a lookup by way of a url associated with the 
    demo.demolookup.demoedit state, optionally passing in an id parameter.
br
h3 Edit Pet Registrations
form(ng-submit='vm.addOrUpdatePet()', novalidate='')
  formly-form(model='vm.pet', fields='vm.formFields', form='vm.form1')
    button.btn.btn-primary.submit-button(type='submit', ng-disabled='vm.form1.$invalid') Submit
