block nav
  div(ng-include='"components/navbar/navbar.html"')
block heading
  div(ng-include='"components/header/demoheader.html"')
block container
block footing
  div(ng-include='"components/footer/demofooter.html"')
